/*******************************************************
    extra small: <768px
    small:    >= 768px
    medium:   >= 992px
    large :   >= 1200px

    col-xs-: auto
    col-xs-: 750px col width = 750/12 = 62px
    */
@import url('https://fonts.googleapis.com/css?family=Kreon|Rubik');
html{
    background-color: #54CA60;
}
body{
    padding: 1.5rem 2rem 6rem 2rem;
    background-color: #54CA60;
}
body p, a, label{

    font-family: 'Rubik', 'Arial', sans-serif;
}

label{
    font-size: 1.5rem;
    color:#E8D12C;
    text-shadow: 3px 3px 3px #222; 
}
h2{
   font-family: 'Kreon', serif;
    color:#E8D12C;
    text-shadow: 3px 3px 3px #222;  
}
li{
    list-style: none;
}
.burgerLink a{
    color:#eee;
}
.p2{
    font-size:.5rem;
}
.map{
    width:100%;
    border:2px solid #333;
}
.jumbotron{
    background-color: #3BE1E8!important;
}
.bg-primary{
    background-color:#536CC3!important;
}
.card-block{
   background-color: #3BE1E8!important;
}
footer nav a:first-child{
color:#54CA60!important;
}
@media (min-width:10px) and (max-width:575px){
    .nav-item{
        display:none;
    }
    footer nav a:first-child{
        width:100%;
    }
.media:active,
.media:focus,
.media:hover{
    color: #eee;
    transform: scale(2);
}
}
@media screen and (min-width:576px){
    .nav-pills{
        display:none;
    }
    button{
        display:none;
    }
    .media{

    float:right;
   
}
.media:active,
.media:focus,
.media:hover{
    color: #eee;
    transform: scale(2);
}
}